<launch>
    <node pkg="rviz" type="rviz" name="rviz" args= "-d $(find pcl_tutorial_ros)/config/rviz/plane_detection.rviz"/>
    <group ns = "plane_detection">
        <node pkg="pcl_tutorial_ros" type="plane_detection" name="plane_detection" output="screen">
            <rosparam>
                topic_name : /sensor_data
                target_frame : base_footprint
                voxel_leaf_size : 0.025
                segment_distance_threshold  : 0.02
                segment_probability : 0.90
            </rosparam>
        </node>
    </group>
</launch>