<launch>
    <node pkg="rviz" type="rviz" name="rviz" args= "-d $(find pcl_tutorial_ros)/config/rviz/passthrough.rviz"/>
    <group ns = "passthrough">
        <node pkg="pcl_tutorial_ros" type="passthrough" name="passthrough" output="screen">
            <rosparam>
                topic_name : /sensor_data
                target_frame : base_footprint
                pass_axis : z
                pass_min_range : 0.1
                pass_max_range : 1.0
            </rosparam>
        </node>
    </group>
</launch>